// -----------------------------------------------------------------------------
// SCSS variables and CSS custom properties
// -----------------------------------------------------------------------------

/**
 * Custom CSS properties
 */
:root {
  // add your properties here
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  --color-primary: #0081a7;
  --color-secondary: #00afb9;
  --color-tertiary: #fdfcdc;
  --color-quaternary: #fed9b7;
  --color-quinary: #f07167;
  --color-bg: var(--color-white);

  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --font-family-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --font-size: 1rem;
  --font-lh: 1.5;

  --spacing-xl: 6.4rem;
  --spacing-lg: 3.2rem;
  --spacing-md: 1.6rem;
  --spacing-sm: 0.8rem;
  --spacing-xs: 0.4rem;

  --screen-xl: calc(1900 / 16 * 1em);
  --screen-lg: calc(1200 / 16 * 1em);
  --screen-md: calc(900 / 16 * 1em);
  --screen-sm: calc(600 / 16 * 1em);
  --screen-xs: calc(320 / 16 * 1em);
}

@media (prefers-color-scheme: dark) {
  :root {
    // add your properties here
    --color-white: #fff;
    --color-black: #000;
    --color-gray-100: #f8f9fa;
    --color-gray-200: #e9ecef;
    --color-gray-300: #dee2e6;
    --color-gray-400: #ced4da;
    --color-gray-500: #adb5bd;
    --color-gray-600: #6c757d;
    --color-gray-700: #495057;
    --color-gray-800: #343a40;
    --color-gray-900: #212529;

    --color-primary: #0d3b66;
    --color-secondary: #145374;
    --color-tertiary: #eeebd3;
    --color-quaternary: #f4a261;
    --color-quinary: #e76f51;
    --color-bg: var(--color-white);

    --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
    --font-family-mono: Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --font-size: 1rem;
    --font-lh: 1.5;

    --spacing-xl: 6.4rem;
    --spacing-lg: 3.2rem;
    --spacing-md: 1.6rem;
    --spacing-sm: 0.8rem;
    --spacing-xs: 0.4rem;

    --screen-xl: calc(1900 / 16 * 1em);
    --screen-lg: calc(1200 / 16 * 1em);
    --screen-md: calc(900 / 16 * 1em);
    --screen-sm: calc(600 / 16 * 1em);
    --screen-xs: calc(320 / 16 * 1em);
  }
}

/**
 * SCSS variables
 */
$color__white: var(--color-white);
$color__black: var(--color-black);
$color__gray-100: var(--color-gray-100);
$color__gray-200: var(--color-gray-200);
$color__gray-300: var(--color-gray-300);
$color__gray-400: var(--color-gray-400);
$color__gray-500: var(--color-gray-500);
$color__gray-600: var(--color-gray-600);
$color__gray-700: var(--color-gray-700);
$color__gray-800: var(--color-gray-800);
$color__gray-900: var(--color-gray-900);

$color__primary: var(--color-primary);
$color__secondary: var(--color-secondary);
$color__tertiary: var(--color-tertiary);
$color__quaternary: var(--color-quaternary);
$color__quinary: var(--color-quinary);
$color__bg: var(--color-bg);

// FONTS & TYPOGRAPHY
$font__family--sans: var(--font-family-sans);
$font__family--serif: var(--font-family-serif);
$font__family--mono: var(--font-family-mono);
$font__size: var(--font-size);
$font__lh: var(--font-lh); // line height

// SPACING
$spacing--xl: var(--spacing-xl);
$spacing--lg: var(--spacing-lg);
$spacing--md: var(--spacing-md);
$spacing--sm: var(--spacing-sm);
$spacing--xs: var(--spacing-xs);

// BREAKPOINTS
$screen--xl: var(--screen-xl);
$screen--lg: var(--screen-lg);
$screen--md: var(--screen-md);
$screen--sm: var(--screen-sm);
$screen--xs: var(--screen-xs);
